@model Infraestructure.Models.Usuario
@{
    ViewBag.Title = "IniciarSesionView";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<h2>IniciarSesion</h2>
@using (Html.BeginForm("IniciarSesion", "Usuario"))
{
    @Html.AntiForgeryToken()
    <form>
        <div>
            <div class="form-floating mb-3">
                @Html.EditorFor(model => model.CorreoElectronico, new { htmlAttributes = new { @class = "form-control", @id = "floatingInput", @placeholder = "name@example.com" } })
                <label for="floatingInput">Correo electrónico</label>
            </div>
            <div class="form-floating">
                @Html.PasswordFor(model => model.Contrasenna, new { @class = "form-control", @id = "floatingPassword", @placeholder = "Password" })
                <label for="floatingPassword">Contraseña</label>
            </div>
            <button class="btn btn-lg btn-primary" type="submit">Ingresar</button>
            <a href="@Url.Action("RegistrarUsuarioView", "Usuario")" class="btn btn-lg btn-secondary">Crear una cuenta</a>
        </div>
    </form>
}



