@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Estilos/Inicio.css" rel="stylesheet" />

<main>
    <div class="bd-example">
        <img class="contenedor" id="Imagen" src="~/Content/Imagenes/UberEats-Portada.png" width="100%" height="600" />
    </div>

</main>

@Scripts.Render("~/bundles/sweetalert")
@if (ViewBag.NotificationMessage != null)
{
    <script>
            @Html.Raw(ViewBag.NotificationMessage)
    </script>
}